.edit-template-container{
    position: relative;
    display: inline-flex;
}

.template-container{
    position: relative;
    resize: horizontal;
    width: 70vw;
    max-height: 100vh;
    min-width: 30%;
    min-height: 50%;
    overflow-y: scroll;
}