---
    interface Props {
	    title: string;
    }

    const { title } = Astro.props;
---

<div class="box-list-container">
    <h2 id='sub-title'>{title}</h2>
    <div class="box-container">
        <slot/>
    </div>
</div>

<style>
    @media only screen and (min-width: 900px){
        .box-list-container{
            position: relative;
            width: 60%;
            height: auto;
            background-color: var(--color0);
            padding-left: var(--left-content);
            padding-right: var(--left-content);
            padding-bottom: 50px;
            padding-top: 50px;
            font-size: 0px;
            display: inline-block;
        }

        #sub-title{
            color: var(--color6);
            font-size: 30px;
            top: 30px;
            max-width: 300px;
        }

        .box-container{
            position: relative;
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: 32% 32% 32%;
            column-gap: 2%;
            row-gap: 50px;
        }
    }
    @media only screen and (max-width: 899px){
        .box-list-container{
            position: relative;
            width: 80%;
            height: auto;
            background-color: var(--color0);
            padding-left: var(--left-content-small);
            padding-right: var(--left-content-small);
            padding-bottom: 50px;
            padding-top: 50px;
            font-size: 0px;
            display: inline-block;
        }

        #sub-title{
            color: var(--color6);
            font-size: 30px;
            top: 30px;
            max-width: 300px;
        }

        .box-container{
            position: relative;
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: 47% 47%;
            column-gap: 6%;
            row-gap: 50px;
        }
    }
</style>