<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MyPorto</title>
    </head>
    <body>
        <slot/>
    </body>
</html>

<style is:global>
    :root{
        --left-content: 20%;
        --left-content-small: 10%;

        --color0: #0C2D57;
        --color1: #1F2544;
        --color2: #1F6E8C;
        --color3: #2E8A99;
        --color4: #84A7A1;
        --color5: #016A70;
        --color6: #FFFFDD;
        --color7: #D2DE32;
        --color8: #A2C579;

    }
	html, body{
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
        margin: 0px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>