<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>MyPorto</title>
    </head>
    <body>
        <slot/>
    </body>
</html>

<style>
    body{
        background-color: aquamarine;
        margin: 0px;
    }
</style>