---
interface Props {
	image_url: string,
    content_title: string,
    content_describe: string
}
const { image_url, content_title, content_describe} = Astro.props;
---
<div class="box">
    <div class="for-content">
        <div class="image-box-container">
            <img src={image_url}/>
        </div>
        <div class="content-box-container">
            <h3>{content_title}</h3>
            <p>{content_describe}</p>
        </div>
    </div>
    <div class="for-animation"></div>
</div>

<style>
    .box {
        position: relative;
        width: 100%;
        height: 250px;
        background-color: var(--color-sekunder);
        border-radius: 10px;
        --size: 0px;
        --opacity: 0%;
        overflow: hidden;
    }

    .for-animation{
        position: relative;
        left: -110px;
        top: -70px;
        width: var(--size);
        height: var(--size);
        opacity: var(--opacity);
        border-radius: 100%;
        background-color: var(--color-hover);
    }
    .for-content{
        display: grid;
    }

    .box:hover{
        animation-name: box-hover;
        animation-duration: 0.4s;
        --size: 600px;
        --opacity: 100%;
    }

    @keyframes box-hover{
        0%{
            --opacity: 100%;
            --size: 100px;
        }
        2%{
            --size: 110px;
        }
        4%{
            --size: 120px;
        }
        6%{
            --size: 130px;
        }
        8%{
            --size: 140px;
        }
        10%{
            --size: 150px;
        }
        12%{
            --size: 160px;
        }
        14%{
            --size: 170px;
        }
        16%{
            --size: 180px;
        }
        18%{
            --size: 190px;
        }
        20%{
            --size: 200px;
        }
        22%{
            --size: 210px;
        }
        24%{
            --size: 220px;
        }
        26%{
            --size: 230px;
        }
        28%{
            --size: 240px;
        }
        30%{
            --size: 250px;
        }
        32%{
            --size: 260px;
        }
        34%{
            --size: 270px;
        }
        36%{
            --size: 280px;
        }
        38%{
            --size: 290px;
        }
        40%{
            --size: 300px;
        }
        42%{
            --size: 310px;
        }
        44%{
            --size: 320px;
        }
        46%{
            --size: 330px;
        }
        48%{
            --size: 340px;
        }
        50%{
            --size: 350px;
        }
        52%{
            --size: 360px;
        }
        54%{
            --size: 370px;
        }
        56%{
            --size: 380px;
        }
        58%{
            --size: 390px;
        }
        60%{
            --size: 400px;
        }
        62%{
            --size: 410px;
        }
        64%{
            --size: 420px;
        }
        66%{
            --size: 430px;
        }
        68%{
            --size: 440px;
        }
        70%{
            --size: 450px;
        }
        72%{
            --size: 460px;
        }
        74%{
            --size: 470px;
        }
        76%{
            --size: 480px;
        }
        78%{
            --size: 490px;
        }
        80%{
            --size: 500px;
        }
        82%{
            --size: 510px;
        }
        84%{
            --size: 520px;
        }
        86%{
            --size: 530px;
        }
        88%{
            --size: 540px;
        }
        90%{
            --size: 550px;
        }
        92%{
            --size: 560px;
        }
        94%{
            --size: 570px;
        }
        96%{
            --size: 580px;
        }
        98%{
            --size: 590px;
        }
        100%{
            --size: 600px;
        }
    }

    .image-box-container{
        position: absolute;
        width: 90%;
        height: 50%;
        margin: 5% 5% 5% 5%;
        border-radius: 5px;
        overflow: hidden;
        z-index: 100;
    }

    .image-box-container img{
        width: 100%;
    }

    .content-box-container{
        position: absolute;
        width: 90%;
        height: auto;
        max-height: 30%;
        top: 52%;
        margin: 0% 5% 5% 5%;
        color: var(--color-text);
        font-size: 14px;
        z-index: 100;
    }

    .content-box-container h3{
        font-size: 17px;
        margin-top: 8%;
        margin-bottom: 5%;
        z-index: 100;
    }

    .content-box-container p{
        margin-top: 0%;
        max-height: 50px;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        opacity: 70%;
        z-index: 100;
    }

    @media only screen and (max-width: 899px){
        .content-box-container p{
            margin-top: 5px;
            max-height: 50px;
            max-width: 90%;
            text-overflow: ellipsis;
            overflow: hidden;
            z-index: 100;
        }
    }
</style>