---
import Menu from '../components/icons/menu-icon.astro'
import Search from '../components/icons/search.astro'
const {height, displayMenu, displaySearch} = Astro.props
---

<div id="main-header">
    <div id="nav-toogle">
        <Menu class="menu-icon-from-height"/>
    </div>
    <div id="search-container">
        <Search class="search-div" bg_color="rgb(100, 100, 100)"/>
    </div>
    <div id="profile-container">
        <div id="avatar-container"></div>
    </div>
</div>

<style define:vars={{height, displayMenu, displaySearch}}>
    #main-header{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: var(--height);
        background-color: black;
        display: inline-flex;
    }
    #nav-toogle{
        position: absolute;
        height: 50%;
        aspect-ratio: 1/1;
        top: 25%;
        left: 20px;
        display: var(--displayMenu);
    }
    #search-container{
        position: absolute;
        left: 30%;
        width: 30%;
        height: 50%;
        top: 20%;
        display: var(--displaySearch);
    }
    #profile-container{
        position: absolute;
        height: 100%;
        right: 30px;
    }
    #avatar-container{
        position: relative;
        aspect-ratio: 1/1;
        top: 15%;
        height: 70%;
        border-radius: 100%;
        background-color: aqua;
    }
    .mod-menu{
        color: white;
        height: 60%;
        top: 20%;
    }
</style>