---
import BlankLayout from "../layouts/BlankLayout.astro"
import Header from "../components/MainHeaderOriginal.astro"
import WriteArea from "../components/WriteArea.astro"
import AddIcon from "../components/icons/add-icon.astro"
import InputVue from "../components/vue/writeArea.vue"

const headerHeight = "70px"
---

<BlankLayout>
    <div class="main">
        <Header height={headerHeight} displayMenu="none" displaySearch="none"/>
        <div class="write" id="write">
            <div class="add-icon" id="add">
                <AddIcon class="icon-from-height"/>
            </div>
            <WriteArea/>
            <InputVue client:load/>
        </div>
    </div>
</BlankLayout>

<style define:vars={{headerHeight}}>
    .write{
        position: relative;
        top: var(--headerHeight);
        width: 60%;
        left: 20%;
    }
    .add-icon{
        position: relative;
        height: 100px;
    }
</style>