---
import Header from "../../../components/MainHeader.astro"
import ContentColection from "../../../components/ContentColection.astro"
import Button from "../../../components/button/button_default.astro"

const {content} = Astro.params
const api = import.meta.env.GO_API
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Write Content</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    </head>
    <body>
        <Header/>
        <div class="sm:w-11/12 md:w-1/2 lg:w-1/3 mx-auto">
            <ContentColection creatorid={content}/>
            <div id="write-new">
                <Button text="Write New"/>
            </div>
            <script is:inline define:vars={{api}}>
                const write = document.getElementById("write-new")
                write.addEventListener("click", async function (){
                    const data = {
                        creatorid: '28808f25-010b-42fc-b5b2-9b19c34f3443'
                    }
                    const urlParams = new URLSearchParams({
                        creatorid: '28808f25-010b-42fc-b5b2-9b19c34f3443'
                    }).toString();
                    console.log("post new content")
                    await fetch(api + `/api/addnewcontent?${urlParams}`, {
                        method: 'POST',
                        mode: 'cors',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(data),
                    }).then(res => {
                        return res.json()
                    }).then(data => {
                        console.log(data)
                        location.href = '/creator/write/'+data.Data
                    })
                })
            </script>
        </div>
    </body>
</html>