---
---

<div class="mt-20 bg-slate-100 dark:bg-slate-900 pb-20">
    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
    <div class="flex sm:mx-6 md:mx-52">
        <div class="w-1/4">
            <p class="font-semibold mb-5 dark:text-gray-50">Navigation</p>
            <a href="/"><p class="dark:text-gray-50">Landing Page</p></a>
            <a href="/beranda"><p class="dark:text-gray-50">Home</p></a>
            <a><p class="dark:text-gray-50">Write</p></a>
            <a><p class="dark:text-gray-50">About</p></a>
        </div>
        <div class="w-1/4">
            <p class="font-semibold mb-5 dark:text-gray-50">Engineering Sample</p>
            <a><p class="dark:text-gray-50">Be Creator</p></a>
            <a><p class="dark:text-gray-50">Questions</p></a>
            <a><p class="dark:text-gray-50">Chat</p></a>
        </div>
        <div class="w-1/4">
            <p class="font-semibold mb-5 dark:text-gray-50">You Need ?</p>
            <a><p class="dark:text-gray-50">Website</p></a>
            <a><p class="dark:text-gray-50">Join Dev</p></a>
        </div>
        <div class="flex w-1/4">
            <p class="text-xl font-semibold dark:text-gray-50">ikuti kami</p>
            <a href="https://youtube.com"><img class="h-7 ms-7" src="/youtube.png"/></a>
            <a><img class="h-7 ms-2" src="/x.png"/></a>
            <a href="https://www.tiktok.com/@engineeringsample"><img class="h-7 ms-2" src="/tiktok.png"/></a>
        </div>
    </div>
</div>
