---
import Home from '../components/icons/beranda-icon.astro'
---

<div class="menus">
    <div class="menu">
        <div class="icon">
            <Home/>
        </div>
        <div class="label">
            <p>Beranda</p>
        </div>
    </div>
    <div class="menu">
        <Home/>
    </div>
</div>

<style>
    .menus{
        position: relative;
        width: 100%;
        height: 100%;
    }
    .menu{
        position: relative;
        width: 100%;
        height: 50px;
        top: 10px;
        text-align: center;
    }
    .icon{
        position: relative;
        height: 60%;
        aspect-ratio: 1/1;
        top: 20%;
        background-color: blue;
    }
    .label{
        position: absolute;
        top: 0px;
        height: 60%;
        left: 30%;
        text-align: center;
        margin: auto;
    }
</style>