<div class="write-container">
    <form class="form">
        <textarea class="write" name="write"></textarea>
        <button class="post-button" type="submit">post</button>
        <br/>
    </form>
</div>

<style>
    .write-container{
        position: relative;
        width: 100%;
        min-height: 200px;
        background-color: blanchedalmond;
    }
    .write{
        position: absolute;
        width: 100%;
        height: 80%;
    }
</style>