---
const {class: className} = Astro.props;
---

<div class={className}>
    <div class="vertical"></div>
    <div class="horizontal"></div>
</div>

<style>
    .icon-from-height{
        position: absolute;
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: 100%;
    }
    .icon-from-height:hover{
        opacity: 50%;
    }
    .icon-from-width{
        position: absolute;
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 100%;
    }
    .icon-from-width:hover{
        opacity: 50%;
    }

    .vertical{
        position: absolute;
        width: 10%;
        height: 80%;
        left: 45%;
        top: 10%;
        background-color: black;
    }

    .horizontal{
        position: absolute;
        width: 80%;
        height: 10%;
        left: 10%;
        top: 45%;
        background-color: black;
    }
</style>