---
//console.log("beranda loaded...")
---

<div id="home-button">
    <div class="triangle"/>
    <div class="rectangle"/>
</div>

<style>
    #home-button{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 2%;
    }
    #home-button:hover{
        opacity: 50%;
    }
    .triangle{
        position: absolute;
        width: 100%; 
        height: 100%; 
        clip-path: polygon(10%40%, 90%40%, 50%10%);
        background-color: black;
    }
    .rectangle{
        position: absolute;
        width: 60%;
        height: 40%;
        left: 20%;
        top: 40%;
        background-color: black;
    }
</style>