---
import SearchIcon from "./search-icon.astro";
const {class: className, bg_color: bcolor} = Astro.props;
---

<div class={className}>
    <input class="input-search" type="search" placeholder="search"/>
    <div class="button-search">
        <SearchIcon bg_color={bcolor} c_color="rgb(255, 255, 255)"/>
    </div>
</div>

<style define:vars={{bcolor}}>
    .search-div{
        position: absolute;
        width: 100%;
        height: 100%;
        display: inline-flex;
    }
    .input-search{
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 100vh;
        border: none;
        padding-left: 20px;
        padding-right: 60px;
    }
    .button-search{
        position: absolute;
        height: 100%;
        border-radius: 100%;
        aspect-ratio: 1/1;
        right: 0px;
    }
</style>