---
const {bg_color: color, c_color: ccolor} = Astro.props;
---
<button id="icon-search">
    <div id="component2"/>
    <div id="component1"/>
</button>

<style define:vars={{color, ccolor}}>
    #icon-search{
        position: absolute;
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 100%;
        border: none;
        background-color: var(--color);
    }
    #icon-search:hover{
        opacity: 50%;
    }
    #component1{
        position: absolute;
        width: 40%;
        left: 20%;
        top: 20%;
        aspect-ratio: 1/1;
        border: 2px solid var(--ccolor);
        background-color: var(--color);
        border-radius: 100%;
    }
    #component2{
        position: absolute;
        width: 30%;
        height: 7%;
        background-color: var(--ccolor);
        top: 60%;
        left: 50%;
        rotate: 45deg;
    }
</style>