---
    interface Props {
	    title: string;
    }

    const { title } = Astro.props;
---

<div class="w-2/3 mx-auto">
    <h2 class="text-5xl font-bold bg-clip-text text-transparent bg-gradient-to-b from-blue-600 to-green-500">{title}</h2>
    <div class="box-container">
        <slot/>
    </div>
</div>
