<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MyPorto</title>
    </head>
    <body>
        <slot/>
    </body>
</html>

<style is:global>
    :root{
        --left-content: 20%;
        --left-content-small: 10%;

        --color0: #254B62;
        --color1: #1D3E53;
        --color2: #1F6E8C;
        --color3: #2E8A99;
        --color4: #84A7A1;
        --color5: #016A70;
        --color8: #A2C579;
        --color-header: #134E4A;

        --color-primer: #081C35;
        --color-sekunder: #134455;
        --color-tersier: #A5C9CA;
        --color-text: #FFFDF7;
        --color-high-text: #2CA58D;
        --color-hover: #0E3045;

    }
	html, body{
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
        margin: 0px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>